@charset "utf-8";

.fundofixo{
    background: url(../images/carne.jpg)  no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover;
    
}

.fundotb{

    background-color: aqua;
}

.mt-n1 {
    margin-bottom: 10px;
  }