@charset "utf-8";

.fundofixo{
    background: url(../images/carne.jpg)  no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover;
    
}

.fundotb{

    background-color: aqua;
}

.mt-n1 {
    margin-bottom: 10px;
  }
  .regras{ 
 
    background-color: white;
    color: black;
    text-align: center;
  }
  .botao-reserve:hover{
    color: #fff;
   
  background-color: blue;
    
    
  }
  .reservinha{
    border: none;
  }